@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap");

body {
  background-color: #121212;
  background-image: url(../images/5.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

span {
  background-color: aliceblue !important;
}

h1 {
  font-size: 55px;
  font-family: kanit;
  letter-spacing: 0.1em;
  color: aliceblue;
}

.section {
  opacity: 100%;
}
.avatar {
  float: left;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .i {
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }
  .name {
    font-size: 30px;
    color: aliceblue;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.2em;
  }

  .icons {
    height: 43px;
    width: 43px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .desc {
    color: aliceblue;
    align-items: center;
    letter-spacing: 0.1em;
    margin-bottom: 22px;
    font-family: "Roboto", sans-serif;
  }
  .hh {
    height: 2px;
  }
  .hh2 {
    height: 5px;
  }
}
.desc2 {
  width: 50%;
  font-family: kanit;
  letter-spacing: 0.1em;
  color: aliceblue;
}

.about {
  float: right;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .desc2 {
    width: 50%;
    font-family: kanit;
    letter-spacing: 0.1em;
    color: aliceblue;
  }
  .h {
    height: 5em;
  }
}

.skills {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    margin-top: -35rem;
  }
}

.navbar {
  background-color: transparent !important;
}

nav {
  .navbar-brand {
    margin-left: 30px;
    margin-right: 30px;
  }
  .navbar-brand:hover {
    color: coral !important;
    font-weight: 500;
  }
}

.container-table-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -9rem;
}
.container-table-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 2rem;
}
table {
  font-family: kanit;
  width: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  img {
    height: 50px;
    width: 50px;
  }
  td {
    width: 5em;
  }
  th,
  td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-align: center !important;
    position: relative;
  }
  thead {
    th {
      background-color: #55608f;
    }
  }
}

.projects{
    display: flex;
    img{
        height: 250px;
    }
    .card1{
    float: left;
    flex-direction: column;
    margin-top: 30rem;
    margin-right: 150px;
    }
    .card2{
        float: right;
        flex-direction: column;
        margin-top: 30rem;
    }

}

.contact{
    h1{
        margin-left: 17em;
    }
    form{
        margin-top: -1em !important;
        margin-left: 32em !important;
        width:600px;
        margin: 8rem;
        label{
            color: #fff;
        }
    }
    
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .avatar {
    width: 100%;
  }

  .about,
  .logos,
  .skills {
    width: 100%;
    justify-content: flex-start;
  }

  img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin-top: 75%;
  }

  .h {
    height: 200px;
  }

  .icons {
    margin-bottom: 50px;
  }
}
